<h1>Login</h1>

<%= form_tag('/user/:user_id/login') do %>
  <p>
    <%= label_tag :id %><br>
    <%= text_field_tag [:ids] %>
  </p>
 
  <p>
    <%= label_tag :pw %><br>
    <%= text_area_tag [:pwd] %>
  </p>
 
  <p>
    <%= submit_tag %>
  </p>
<% end %>

<%= link_to 'Join', join_index_path %>