<h1>Login</h1>

<%= form_tag('/login/:login_id/login') do %>
  <p>
    <%= label_tag :name %><br>
    <%= text_field_tag [:name] %>
  </p>
 
  <p>
    <%= label_tag :pw %><br>
    <%= text_area_tag [:pwd] %>
  </p>
 
  <p>
    <%= submit_tag %>
  </p>
<% end %>

<%= link_to 'User', user_index_path %>