<h1>Join</h1>

<%= form_tag('/join') do %>
  <p>
    <%= label_tag :id %><br>
    <%= text_field_tag [:ids] %>
  </p>
 
  <p>
    <%= label_tag :pw %><br>
    <%= text_area_tag [:pwd] %>
  </p>
 
  <p>
    <%= submit_tag %>
  </p>
<% end %>

<%= link_to 'Login', user_index_path %>